RewriteEngine on
RewriteBase /CityTasker/
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /CityTasker/index.php/$1 [L,QSA] 